.container {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.search {
    width: 550px;
    height: 45px;
    border-radius: 110px;
    border-style: groove;
    padding: 10px;
  }
  
  .search > input {
    width: 100%;
    height: 20px;
    font-size: large;
    border: none;
    outline: none;
  }

.header {
    display: flex;
    align-items: center;
    padding: 20px;
}

.header .logo {
    height: 5vh;
    margin-right: 20px;
}
