.profile {
    width:  100vw;
    height: 100vh;
    display: flex;
    font-family: 'Poppins', sans-serif;
}

.profile .details {
    width: 75%;
}

.profile .overview {
    width: 25%;
    padding: 40px 40px 10px 40px;
    background-color: #2897FF;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.experience {
    display: flex;
    border-bottom: 1px solid black;
    height: 60%;
}

.experience div {
    padding: 0 20px;
}

.details h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.experience h3 {
    padding: 3px 0;
    font-size: 26px;
}

.experience h4 {
    padding: 5px 0;
    font-size: 22px;
    font-weight: 400;
}

.experience p {
    padding: 10px 0;
}

.lists {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

.lists div {
    width: 33%;
}

.lists h2 {
    font-size: 26px;
    color: #2897FF;
    margin: 20px 0;
}

.lists li {
    list-style-type: disc;
    list-style-position: inside;
    padding: 0;
    font-size: 20px;
}

.details {
    padding: 40px;
}

.overview div span {
    border-right: 1px solid white;
    padding: 0 5px;
}

.overview div span:first-of-type {
    padding-left: 0;
}

.overview div span:last-of-type {
    border: none;
}

p, li {
    font-weight: 300;
}

.overview h2 {
    font-size: 18px;
    padding: 20px 0;
}

.profile-img {
    height: 282px;
    width: 276px;
    object-fit: cover;
    padding-bottom: 20px;
    align-self: flex-start;
}

.and-logo {
    height: 30px;
    align-self: flex-end;
    justify-self: flex-end;
    margin: 10px;
}