.card {
    width: 22vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 1vw;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
}

.card img {
    height: 141px;
    width: 138px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

span {
    font-weight: 300;
}

span.and {
    font-weight: bold;
    color: red;
}

h5 {
    font-size: 30px;
}