.categories {
    display: flex;
    flex-wrap: wrap;
}

.category {
    width: 50%;
    padding: 20px;
}

ul, li {
    list-style: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

li {
    padding: 10px 0;
}

.skills h3, .skills h4 {
    color: #2897ff;
}

.skills h3 {
    font-size: 30px;
}

